:root {
  --primary: #db5461;
  --primary-transparent: rgba(219, 84, 97, 0.85);
  --secondary: #e3655b;
  --primary-accent: #3891a6;
  --primary-accent-transparent: rgba(56, 145, 166, 0.85);
  --secondary-accent: #4c5b5c;
  --highlight: #fde74c;
  --highlight-transparent: rgba(253, 231, 76, 0.85);
}

.App {
  text-align: center;
  background-color: var(--primary);
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
