.User {
    display: grid;
    align-items: center;
    grid-template-columns: 90% 10%;
    text-align: left;
    border-top: solid 1px var(--highlight);
    border-bottom: solid 1px var(--highlight);
    padding: 1rem;
}

.User-button {
    color: var(--highlight);
    background-color: var(--primary-accent-transparent);
    border: outset 2px var(--highlight);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem;
}

.User-button:hover {
    cursor: pointer;
    background-color: var(--secondary-accent);
    color: var(--primary-accent);
    border-color: var(--primary-accent);
    transition: 250ms;
}
